{% extends 'base.html' %}
{% load static %}

{% block title %}
    resume
{% endblock %}

{% block head %}
    <link href="{% static 'css/resume/index.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <header>
        <h1> Slesa Adhikari </h1>
        {% include 'nav.html' %}
    </header>
    <main>
        <div class="left">
            <section class="experience">
                <h2> Experience </h2>
                <ul>
                    {% for experience in experiences.reverse %}
                    <li>
                        <h4> {{ experience.title }} </h4>
                        <h5> {{ experience.organization }} </h5>
                        <time>
                            {{ experience.start_date|date:"M Y" }}
                            - 
                            {% if experience.end_date %}
                                {{ experience.end_date|date:"M Y" }}
                            {% else %}
                                    now
                            {% endif %}
                        </time>
                        <p> {{ experience.description }} </p>
                    </li>
                    {% endfor %}
                </ul>
            </section>
            <section class="education">
                <h2> Education </h2>
                <ul>
                    {% for education in educations.reverse %}
                    <li>
                        <h4> {{ education.title }} </h4>
                        <h5> {{ education.organization }} </h5>
                        <time>
                            {{ education.start_date|date:"M Y" }}
                            - 
                            {% if education.end_date %}
                                {{ education.end_date|date:"M Y" }}
                            {% else %}
                                    now
                            {% endif %}
                        </time>
                        <p> {{ education.description }} </p>
                    </li>
                    {% endfor %}
                </ul>
            </section>
        </div>
        <div class="right">
            <section class="skills">
                <h2> Skills </h2>
                <ul>
                    {% for skill in skills %}
                    <li>
                        <span> {{ skill.title }} </span>
                    </li>
                    {% endfor %}
                </ul>

            </section>
            <section class="interests">
                <h2> Interests </h2>
                <ul>
                    {% for interest in interests %}
                    <li>
                        <ion-icon name="{{ interest.icon }}"></ion-icon>
                        <span class="label"> {{ interest.title }} </span>
                    </li>
                    {% endfor %}
                </ul>
            </section>
        </div>
    </main>
    
{% endblock %}
