@import 'colors';
@import 'animations';

$font-cursive: 'Shadows Into Light', cursive;
$font-normal: 'Cabin', sans-serif;
$font-mono: 'Inconsolata', monospace;

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: $font-normal;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: $color-text-dark;
}

ul {
    list-style: none;
}

header {
    position: relative;
}
