$color-primary: #ffecda;
$color-primary-dark: #d4a5a5;
$color-primary-light: #f9ffea;
$color-secondary: #a6d0e4;

$color-text: rgba(0, 0, 0, 0.8);
$color-text-white: rgba(255, 255, 255, 0.6);
$color-text-dark: rgba(0, 0, 0, 0.8);
$color-text-light: rgba(0, 0, 0, 0.6);
