nav {
    display: flex;
    justify-content: flex-end;
    right: 24px;
    top: 24px;

    ul {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;

        li {

            a {
                position: relative;
                display: block;
                text-align: center; 
                text-transform: lowercase;
                font-size: 16px;
                margin: 0 16px;

                &:hover {
                    font-weight: bold;
                    animation: shake 0.6s ease-in-out both;

                    &:before {
                        position: absolute;
                        content: '{';
                        left: -10px;
                    }

                    &:after {
                        position: absolute;
                        content: '}';
                        right: -10px;
                        top: 0;
                    }
                } // &:hover
            } // a
        }
    }
}
