@import 'base.scss';

body {
    background-color: $color-primary;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .title-block {

            h1 {
                color: $color-text;
                font-family: $font-cursive;
                font-size: 100px;
                font-weight: 600;
                text-transform: lowercase;
                line-height: 0;
            }
        }

        .nav-links {
            width: 100%;
            ul {
                display: flex;
                list-style: none;
                padding: 0;
                width: 100%;
                height: 64px;

                li {
                    flex-basis: calc(100% / 4);

                    a {
                        display: block;
                        text-align: center; 
                        text-transform: lowercase;

                        &:hover {
                            font-size: 16px;
                            font-weight: bold;

                            animation: shake 0.6s ease-in-out both;

                            &:before {
                                content: '{';
                            }
                            &:after {
                                content: '}';
                            }
                        } // &:hover
                    } // a
                } // li
            } // ul
        } // .nav-links
    }
}
