/**
sass --watch stylesheets:css
*/

$font-cursive: 'Shadows Into Light', cursive;
$font-normal: 'Cabin', sans-serif;
$font-serif: 'EB Garamond', serif;
$font-mono: 'Ubuntu Mono', monospace;

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: $font-normal;
}

.title {
    position: relative;

    background-image: url('/img/me.jpeg');
    background-size: cover;
    background-position: center;
    background-blend-mode: color-burn;
    background-color: rgba(0, 0, 0, 0.7);

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        margin: 0;
        padding: 0;
        color: rgba(255, 255, 255, 0.8);
        font-weight: 500;
        font-size: 100px;
        // font-family: 'Princess Sofia', cursive;
    }

    .tagline {
        font-family: $font-mono;
        font-weight: 400;
        color: #FF9800; //rgba(255, 255, 255, 1);
    }

    .arrow {
        position: absolute;
        color: #fff;
        text-decoration: none;
        font-size: 56px;
        bottom: 56px;
        margin-left: auto;
        margin-right: auto;
        opacity: 0.8;

        animation: shaker 1s infinite alternate;
    }
}


.projects {
    display: flex;
    height: 100vh;

    .project-list {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        background: #5B6770; //#34495e;

        .project-item {
            padding: 16px;
            position: relative;
            display: flex;
            flex-basis: calc(100% / 3);
            flex-direction: column;
            justify-content: center;
            align-items: center;
            //background: #34495e;
            border: 1px solid rgba(255, 255, 255, 0.1);
            color: #fff;
            cursor: pointer;
            z-index: 0;
            height: calc(100% / 2);

            * {
                user-select: none;
                transition: all 1s ease-in-out;
            }

            h4 {
                font-weight: 500;
                font-size: 32px;
                text-align: center;
                margin: 0 0 24px;
                padding: 0;
            }

            img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                z-index: -1;
                opacity: 0;
                mix-blend-mode: lighten;
            }

            p {
                max-height: 0;
                overflow: hidden;
                margin: 0 56px;
                text-align: center;
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 24px 0 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;

                li {
                    text-align: center;
                    margin: 8px;
                    font-size: 12px;
                    background: rgba(0, 0, 0, 0.2);
                    text-transform: uppercase;
                    border-radius: 8px;
                    padding: 4px 8px;
                }
            }

            .trophy {
                position: absolute;
                top: 32px;
                right: 32px;
                color: #f39c12;
                font-size: 28px;
            }

            &.details {
                h4 {
                    transition: all 1s;
                }

                img {
                    opacity: 0.2;
                }

                p {
                    max-height: 100%;
                }
            }
        }
    }
}

.timeline {
    background-color: #466380;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100vh;


    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;

        li {
            position: relative;
            padding: 24px 64px;
            width: 440px;
            border-top: 2px solid #fff;
            color: #fff;
            cursor: pointer;
            text-align: center;
            height: 200px;

            &::before {
                position: absolute;
                content: '';
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background-color: #fff;
                top: -8px;
                left: calc(50% - 8px);
            }

            time {
                position: absolute;
                top: -48px;
                width: 200px;
                left: calc(50% - 200px / 2);
                text-align: center;
            }

            h4 {
                margin: 10px 0 2px;
                font-size: 18px;
            }
            h5 {
                margin: 0;
                font-size: 14px;
                font-weight: 500;
            }
            p {
                margin: 10px 0;
                font-size: 12px;
                opacity: 0;
            }

            * {
                transition: all 1s ease-in-out;
            }

            &:hover {
                h4 {
                    font-size: 24px;
                }

                h5 {
                    font-size: 18px;
                }

                p {
                    font-size: 14px;
                    opacity: 1;
                }
            }
        }
    }
}

.contact {
    padding: 36px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #5B6770; //rgba(0, 0, 0, 0.5);

    a {
        margin: 64px;
        // padding: 36px;
        color:#fff;
        //background: #DB6E82;
        border-radius:4px;
        text-align:center;
        text-decoration:none;
        font-family:fontawesome;
        font-size: 52px;
        padding: 64px;
        position: relative;
        display: inline-block;
        width:40px;
        height:28px;
        // padding-top:12px;
        margin:0 2px;
        transition: all .5s;

        line-height: 0;
    }

    img {
        position: absolute;
        left: 0px;
        bottom: 0px;
        height: 196px;
        animation: hide 4s ease-in-out infinite alternate;
    }

    a:hover {
        transform: scale(1.5) translateY(2px);
        // background: #ef92a3;
    }

    a span {
        color: #000;
        position: absolute;
        font-family: $font-mono;
        font-weight: 100;
        bottom: 0;
        left: -25px;
        right: -25px;
        padding: 5px 7px;
        margin: 26px;
        z-index: -1;
        font-size: 10px;
        border-radius: 8px;
        background: #fff;
        visibility: hidden;
        opacity: 0;
        transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        line-height: initial;
    }

    /* pop-up text arrow */

    a span:before {
        content:'';
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #fff;
        position:absolute;
        bottom:-5px;
        left:40px;
    }

    /* text pops up when icon is in hover state */

    a:hover span {
        bottom: 80px;
        visibility: visible;
        opacity: 1;
    }
}



@keyframes shaker {
    0% { transform: translateY(0); }
    100% { transform: translateY(-14px); }
}

@keyframes hide {
    0% { transform: translateX(-32px); }
    100% { transform: translateX(0); }
}
