<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Slesa - {% block title %}{% endblock %} </title>
        <meta name="description" content="Slesa's Portfolio">
        <meta name="author" content="Slesa Adhikari">
        <link href="https://fonts.googleapis.com/css?family=Anton|Bubbler+One|Cabin|Julius+Sans+One|Shadows+Into+Light&display=swap" rel="stylesheet">
        {% block head %}
        {% endblock head %}
    </head>
    <body>
        {% block body %}
        {% endblock body %}
    </body>
</html>
