{% extends 'base.html' %}
{% load static %}


{% block title %}
    home
{% endblock %}


{% block head %}
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container">
        <img src="{% static 'img/slesa.jpg' %}">
        <div class="title-container">
            <div class="title-text">
                <div class="title-block">
                    <h1>
                        Slesa Adhikari
                    </h1>
                </div>

                <div class="nav-links">
                    <ul>
                        <li> <a href="{% url 'resume' %}"> Resume </a> </li>
                        <li> <a href="{% url 'projects' %}"> Projects </a> </li>
                        <li> <a href="#"> Bio </a> </li>
                        <li> <a href="#"> Contact </a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

